<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Integration Test Suite" parallel="false">
	<listeners>
   		 <listener class-name="com.listeners.RATestListener" />
  	</listeners>
	
	<test name="IntegrationTests">
		<classes>
			<class name="com.testcases.integrationTests.IntegrationTestsCommentsValidations" />			
		</classes>
	</test>
</suite>